# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.unity-charts.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity\Projects\Packages\unity-charts\Packages\unity-charts\.idea\.idea.unity-charts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
